.header-search {
  position: fixed;
  right: 24px;
  top: 36px;
  display: flex;
  flex: 5 1;
  // z-index: 1;
  
  .user-name {
    cursor: default;
    user-select: none;
  }
  .profile-pic {
    height: 36px;
    width: auto;
    border-radius: 50%;
  }
}

.input-search {
  background: #f9f9f9;
  height: 100%;
}

.user-profile {
  position: fixed;
  left: 24px;
  bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  // z-index: 1;

  h4 {
    margin: auto 0;
  }
}

.profile-avatar {
  border-radius: 50%;
  background: #e9ecef;
}

.profile-avatar.small {
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
}

.profile-avatar.medium {
  min-width: 56px;
  min-height: 56px;
  max-width: 56px;
  max-height: 56px;
}

.profile-avatar.large {
  min-width: 64px;
  min-height: 64px;
  max-width: 64px;
  max-height: 64px;
}

.profile-avatar.thread {
  transform: scale(0.7);
}