.header {
  color: #000;
  .header-logo {
    display: flex;
    flex: 1 1;
    font-weight: 600;
    a {
      color: #000;
      text-decoration: none;
    }
  }

  .header-search {
    display: flex;
    flex: 5 1;
    .user-name {
      cursor: default;
      user-select: none;
    }
    .profile-pic {
      height: 36px;
      width: auto;
      border-radius: 50%;
    }
  }
}

.user-profile {
  position: fixed;
  left: 36px;
  bottom: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  background: red;

  h4 {
    margin: auto 0;
  }
}
