.message-toolbar {
  height: 50px;
  .action-btns {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .action-btn {
      cursor: pointer;
      display: inline-block;
    }
  }
}

.right-align {
  position: sticky;
  top: 56px;
  right: 36px;
  // z-index: 1;
}