.message-toolbar {
  height: 50px;
  .action-btns {

    .action-btn {
      cursor: pointer;
      display: inline-block;
    }
  }
}

.right-align {
  position: absolute;
  top: 64px;
  right: 36px;
  z-index: 1;
}