.floating-btn {
  position: fixed;
  bottom: 36px;
  right: 36px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: auto;
  background: black;
  color: white;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 60px 0px, rgba(0, 0, 0, 0.3) 0px 30px 40px -10px;
  z-index: 100;
  cursor: pointer;
}